<script src="static/scripts/color.js"></script>
{% extends 'base.html' %}
{% block content %}
<div class="panel panel-primary see_through no_padding">
    <div class="panel-heading pad_left see_through2">
        <h1>Colors</h1>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <label for="R_range" class="see_through">R</label>
                <input for="R_range" type="number" id="R_number" min="0" value="0" max="255" step="1" oninput="updateR(value)" onchange="changeColor()">
                <input type="range" min="0" max="255" value="0" id="R_range" step="1" oninput="updateR(value)" onchange="changeColor()" for="R_number" class="width" list="RGBticks">
            </div>
            <div class="col-xs-12">
                <label for="G_range" class="see_through">G</label>
                <input for="G_range" type="number" id="G_number" min="0" value="100" max="255" step="1" oninput="updateG(value)" onchange="changeColor()">
                <input type="range" min="0" max="255" value="100" id="G_range" step="1" oninput="updateG(value)" onchange="changeColor()" for="G_number" class="width" list="RGBticks">
            </div>
            <div class="col-xs-12">
                <label for="B_range" class="see_through">B</label>
                <input for="B_range" type="number" id="B_number" min="0" value="255" max="255" step="1" oninput="updateB(value)" onchange="changeColor()">
                <input type="range" min="0" max="255" value="255" id="B_range" step="1" oninput="updateB(value)" onchange="changeColor()" for="B_number" class="width" list="RGBticks">
            </div>
            <div class="col-xs-12">
                <label for="A_range" class="see_through">A</label>
                <input for="A_range" type="number" id="A_number" min="0" value="0.9" max="1" step=".01" oninput="updateA(value)" onchange="changeColor()">
                <input type="range" min="0" max="1" value="0.9" id="A_range" step=".01" oninput="updateA(value)" onchange="changeColor()" for="A_number" class="width" list="Aticks">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                <b id="rgba" class='see_through'>rgba(0, 0, 0, 1)</b>
            </div>
            <div class="col-xs-4">
                <b id="rgb" class="see_through"></b>
            </div>
            <div class="col-xs-4">
                <b id="position" class="see_through"></b>
            </div>
            <div class="col-xs-4">
                <div id="color_name"></div>
            </div>
        </div>

        <div class="col-xs-12">
        <div class="pad"></div>
            <div class="col-xs-12">
                <!--<input type="button" id="help_btn" class="btn btn-xl btn-primary right" value="HELP" onclick="help(this);">-->
                <input type="button" id="technicolor_btn" class="btn btn-xl btn-info see_through technicolor right" value="OFF" onclick="toggleTechnicolor(this);">
                <!--modal html-->
                <!-- Trigger/Open The Modal -->
                <button id="myBtn" class="btn btn-info see_through">HELP</button>
            </div>
        </div>

    </div>
</div>


<datalist id="RGBticks">
    <option>0</option>
    <option>5</option>
    <option>10</option>
    <option>15</option>
    <option>20</option>
    <option>25</option>
    <option>30</option>
    <option>35</option>
    <option>40</option>
    <option>45</option>
    <option>50</option>
    <option>55</option>
    <option>60</option>
    <option>65</option>
    <option>70</option>
    <option>75</option>
    <option>80</option>
    <option>85</option>
    <option>90</option>
    <option>95</option>
    <option>100</option>
    <option>105</option>
    <option>110</option>
    <option>115</option>
    <option>120</option>
    <option>125</option>
    <option>130</option>
    <option>135</option>
    <option>140</option>
    <option>145</option>
    <option>150</option>
    <option>155</option>
    <option>160</option>
    <option>165</option>
    <option>170</option>
    <option>175</option>
    <option>180</option>
    <option>185</option>
    <option>190</option>
    <option>195</option>
    <option>200</option>
    <option>205</option>
    <option>210</option>
    <option>215</option>
    <option>220</option>
    <option>225</option>
    <option>230</option>
    <option>235</option>
    <option>240</option>
    <option>245</option>
    <option>250</option>
    <option>255</option>
</datalist>

<datalist id="Aticks">
    <option>0.0</option>
    <option>0.1</option>
    <option>0.2</option>
    <option>0.3</option>
    <option>0.4</option>
    <option>0.5</option>
    <option>0.6</option>
    <option>0.7</option>
    <option>0.8</option>
    <option>0.9</option>
    <option>1.0</option>
</datalist>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Use either sliders or input boxes to change color.</h3>
        <h4>Here are some common colors you might want to know:</h4>
        <ul>
            <li>black	rgb(0, 0, 0, 1)</li>
            <li>navy	rgb(0, 0, 128, 1)</li>
            <li>blue	rgb(0, 0, 255, 1)</li>
            <li>green	rgb(0, 128, 0, 1)</li>
            <li>teal	rgb(0, 128, 128, 1)</li>
            <li>lime	rgb(0, 255, 0, 1)</li>
            <li>aqua	rgb(0, 255, 255, 1)</li>
            <li>maroon	rgb(128, 0, 0, 1)</li>
            <li>purple	rgb(128, 0, 128, 1)</li>
            <li>olive	rgb(128, 128, 0, 1)</li>
            <li>gray	rgb(128, 128, 128, 1)</li>
            <li>silver	rgb(192, 192, 192, 1)</li>
            <li>red	    rgb(255, 0, 0, 1)</li>
            <li>fuchsia	rgb(255, 0, 255, 1)</li>
            <li>yellow	rgb(255, 255, 0, 1)</li>
            <li>white	rgb(255, 255, 255, 1)</li>
        </ul>
        <h5>Lowering the A opacity value will produce a pastel color</h5>
        <h5>And if the background color of a website is not white it will mix the colors</h5>
        <h4>The button labeled OFF is the technocolor method, which uses your positon on the screen instead.</h4>
    </div>
</div>

<script>
// I externalized some of the scripts yet found others to not work well outside this page
// modal_section
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

var state = document.getElementById("technicolor_btn").value="OFF";
function toggleTechnicolor(state) {
    if(state.value=="OFF"){
        state.value="ON";
    } else if(state.value=="ON"){
        state.value="OFF";
    }
    console.log(state.value);
    technicolor_off(state.value);
    return state.value
}

function technicolor_off(state){
    if (state=="OFF") {
        $('body').css('background', 'aqua');
        $('a').css('background', 'auqa');
    }
}

// relative to current window tracks mouse position
$("body").mousemove(function(e) {
    var x = e.pageX;
    var y = e.pageY;
    var state = document.getElementById("technicolor_btn").value;
    // only track position when button is on
    if (state == "ON") {
        var position = document.getElementById("position").innerHTML = 'x=' + x + ', y=' + y;
        // only fire while state is ON and less often with modulus
        // if (x % 1 == 0 | y % 1 == 0) {
            var a = x % 255;
            var b = y % 255;
            var c = 255;
            var d = 1;
            var current_color = "rgba(" + a + ", " + b + ", " + c + ", " + d + ")"
            // only using jQuery for a few things
            $('body').css('background', current_color);
            // $('a').css('color', current_color);
            $("#rgb").text(current_color);
        // }
    // }
    } else {
        document.getElementById("rgb").innerHTML = '';
        document.getElementById("position").innerHTML = '';
    }
})

// adds tick marks to slidebar automagically,
// unfortunatly for us we want different ranges for our tick marks
// the first 3 ranges should be 0-255 by 5 steps
// the last 1 range should be 0-1 by .01 steps
    // function ticks(element) {
    // 	// if (element.hasOwnProperty('list') && element.hasOwnProperty('min') && element.hasOwnProperty('max') && element.hasOwnProperty('step')) {
    //     if ('list' in element && 'min' in element && 'max' in element && 'step' in element) {
    //         var datalist = document.createElement('datalist'),
    //         minimum = parseInt(element.getAttribute('min')),
    //         step = parseInt(element.getAttribute('step')),
    //         maximum = parseInt(element.getAttribute('max'));
    //         datalist.id = element.getAttribute('list');
    // 	for (var i = minimum; i < maximum+step; i = i + step) {
    // 		datalist.innerHTML +="<option value="+i*15+"></option>";
    // 	}
    // element.parentNode.insertBefore(datalist, element.nextSibling);
    // }}
    // var lists = document.querySelectorAll("input[type=range][list]"),
    // arr = Array.prototype.slice.call(lists);
    // arr.forEach(ticks);


// used originally to create a count used for tick marks
    // function counting() {
    //     var arr = [];
    //     for (i = 0; i < 255; i++) {
    //         if (i % 5 == 0) {
    //             arr.push(i);
    //         }
    //     }
    //     return arr
    // }
    // var arr = counting()
    // console.log(arr)
</script>
{% endblock  %}
