{% extends 'base.html' %}
{% block content %}
<div class="col-xs-4"></div>
<div class="col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading pad_left">
            <h1>Links</h1>
        </div>
        <div class="panel-body">
            <div class="col-xs-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <ul>
                            <li><a href="/"> <span class="label label-default">home</span></a></li>
                            <li><a href="/signup"> <span class="label label-default">signup</span></a></li>
                            <li><a href="/encrypt"> <span class="label label-default">encrypt</span></a></li>
                            <li><a href="/color"> <span class="label label-default">color</span></a></li>
                            <li><a href="/sounds"> <span class="label label-default">sounds</span></a></li>
                            <!--<li><a href="/sound"> <span class="label label-default">sound</span></a></li>-->
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-4"></div>
{% endblock  %}
